:root {
    --label-size: 300px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 25px;
    font-family: 'Poppins', 'Roboto', sans-serif;
    background-image: url('images/background.jpg');
    margin: 0;
}
h1 {
    margin: 0;
    font-size: 2.2em;
}
hr {
    border: 1px solid black;
}
/*form area styiling*/
#container {
    position: absolute;
    right: 0;
    min-height: 100vh;
    max-height: fit-content;
    width: 60vw;
    background-color: rgba(240, 248, 255, 0.63);
    /*using flex to allign stuff*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#input-container {
    background-color: rgb(255, 255, 255);
    padding: 50px 10px;
}
.form-row {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
label {
    width: var(--label-size);
    margin: 0 30px;
}
input {
    width: var(--label-size);
    height: 30px;
    border: 0;
    border-bottom: solid black 2px;
    border-radius: 3px;
    transition: all .3s;
}
input:focus {
    outline: 0;
    scale: 1.05;
}
input:invalid {
    background-color: rgba(255, 0, 0, 0.3);
}
input:valid {
    background-color: rgba(141, 250, 120, 0.4);
}
input:placeholder-shown {
    background-color: white;
}
/* 
when passwords don't match

label[for="confirm-password"]::after {
    content: "*paswords don't match";
    font-size: 10px;
    color: red;
} */

/*adding logos in front of the labels*/
label[for="first-name"]:before, label[for="last-name"]:before {
    content: url('images/user.svg');
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
label[for="email"]:before {
    content: url('images/at-sign.svg');
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
label[for="phone-number"]:before {
    content: url('images/hash.svg');
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
label[for="password"]:before, label[for="confirm-password"]:before {
    content: url('images/lock.svg');
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/*logo area styiling*/
#image-overlap {
    position: absolute;
    left: 0;
    height: 100vh;
    /*using flex to allign stuff*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#image-overlap div {
    width: 40vw;
    background-color: rgba(255, 255, 239, 0.713);
    padding: 30px 20px;
    text-align: center;
    box-sizing:border-box;
    /*using flex to allign stuff*/  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#image-overlap a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#logo {
    position: absolute;
    bottom: 0;
}
#image-overlap hr {
    width: 80%;
}
#image-overlap #down-btn {
    display: none;
    scale: 2.5;
}
#down-btn svg {
    position: relative;
    top: 10px;
    color: black;
    transition: all .3s;
}
#down-btn svg:hover {
    top: 20px;
    color: blue;
}
/* #image-overlap hr {
    
} */
/*settings for mobile*/
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }
    #container {
        position: relative;
        width: 100vw;
        min-height: fit-content;
        max-height: fit-content;
        margin: 50px 0;
        flex-direction: column;
        padding-top: 20px;
    }
    #input-container {
        border-radius: 20px;
    }
    .form-row {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    label {
        margin: 10px 0;
        width: 80vw;
    }
    input {
        width: 80vw;
        margin-top: 5px;
    }

    #image-overlap {
        position: static;
        height: fit-content;
    }
    #image-overlap div {
        margin-top: 180px;
        width: 100vw;
        padding-bottom: 0;
    }
    #image-overlap #down-btn {
        display: block;
    }
}

/* number input fix for firefox */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}