:root {

}
body {
    font-size: 20px;
    background-image: url('pxfuel.jpg');
    margin: 0;
}
#container {
    position: absolute;
    right: 0;
    min-height: 100vh;
    max-height: fit-content;
    width: 60vw;
    background-color: aliceblue;
    filter: opacity(1);
}
#input-container {
    filter: opacity(1);
    background-color: aqua;
}
@media only screen and (max-width: 600px) {
    #container {
        width: 100vw;
        min-height: fit-content;
        max-height: fit-content;
        margin: 50px 0;
    }
  }